.calendar-wrapper {
  max-width: 360px;
  margin: auto;
  background: #464455;
  border-radius: 16px;
  padding: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* TIME BOX */
.time-box {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  padding: 14px;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 8px;
}

.month {
  font-size: 26px;
  font-weight: bold;
  color: rgb(236, 113, 113);
}

.nav button {
  background: green;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  margin-left: 6px;
  cursor: pointer;
  font-size: 18px;
}

/* DAY NAMES */
.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin: 6px 0;
  color: rgb(230, 230, 140);
}

/* GRID */
.calendar-grid {
  background: #666;
  border-radius: 12px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

/* CELLS */
.cell {
  text-align: center;
  font-size: 20px;
  padding: 8px 0;
  color: white;
  border-radius: 50%;
}

.cell.empty {
  background: transparent;
}

.cell.today {
  background: #f28b82;
  color: black;
}
