.display {
  background: #ccc5c5;
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 14px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

.ans {
  font-size: 12px;
  color: #777;
  text-align: left;
  margin-bottom: 4px;
}

.expr {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  text-align: right;
  min-height: 34px;
  overflow-x: auto;
}
