* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  background: #f3f1f1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.display {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
.result {
  width: 100%;
  height: 100px; /* Increased height for future features */
  background: #404040;
  border: none;
  outline: none;
  color: white;
  text-align: right;
  padding: 10px;
  font-size: 1.8em;
  resize: none; /* Prevent resizing */
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

button {
  padding: 15px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.8s;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.number {
  background: #505050;
  color: white;
}

.operator {
  background: #b86d04;
  color: white;
}

.function {
  background: #414141;
  color: #00FF00;
}

.trigono {
  background: #414141;
  color: #FF69B4;
}

.constant {
  background: #414141;
  color: #00BFFF;
}

.clear {
  background: #FF3B30;
  color: white;
}

.equals {
  background: #28CD41;
  color: white;
}

.memory {
  background: #5856D6;
  color: white;
}

@media (max-width: 400px) {
  

  button {
    padding: 10px 5px;
    font-size: 1.3em;
  }
}
